:root {
    --font: Fira Sans;
    --foreground-1: rgb(0, 0, 0); /* Text */
    --foreground-2: rgb(0, 0, 0); /* Elements */
    --foreground-3: rgb(0, 0, 0); /* Borders */
    --background-1: rgb(255, 255, 255);
    --background-2: lightgray;
}

html, body {
    font-family: var(--font), sans-serif;
    color: var(--foreground-1);
}

label {
    display: block;
}

hr {
    width: 60%;
    background-color: var(--foreground-3);
}

a:link {
    color: var(--foreground-1);
    text-decoration: none;
}

a:visited {
    color: var(--foreground-1);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-1);
    text-decoration: none;
}

a:active {
    color: var(--foreground-1);
    text-decoration: none;
}

input {
    outline: none;
}

/*** Global classes ***/
.align_all_items_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_shadow_background {
    box-shadow: 3px 4px 0 var(--foreground-2);
    background-color: var(--background-1);
    border-radius: 10px;
    border: 3px var(--foreground-3) solid;
}

/*** Header ***/
header {
    margin: 20px;
    border: 3px solid var(--foreground-3);
    padding: 20px;
    border-radius: 10px;
}

#site_title {
    margin-right: auto;
}

#site_shortcuts {
    display: flex;
}

#site_shortcuts div {
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    margin: 0 0 0 auto;
}

#language_selector {
    display: flex;
    margin-left: 20px;
}

#language_selector > div {
    border-right: 2px solid var(--foreground-3);;
    padding: 8px;
}


/*** Main section ***/
#main {
    display: flex;
    flex-direction: column;
    margin: 20px 30% 60px;
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
}

#personal_data_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-end: 3;
    grid-row-end: 2;
    width: 100%;
}


#personal_data_grid > :last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 100%;
}


.data_box {
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
}

#campo_nacimiento {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

#campo_nacimiento > label {
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}

#login {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login_box {
    height: 40px;
    padding: 5px;
    width: 100%;
}

#checkbox {
    width: 100%;
    margin-bottom: 10px;
}

#save_box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    padding: 20px;
}

#confirm {
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
    margin-right: 40px;
    width: 40%;
}

#font_box {
    color: var(--foreground-3);
    text-decoration: none;
}

#upload_image {
    width: 100%;
    padding: 10px;
}

/*** Footer ***/
footer {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#left_footer {
    margin-right: auto;
    margin-left: 20px;
    padding-left: 20px;
    width: 190px;
}

#center_footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#footer_shortcuts {
    flex-direction: row;
}

#footer_shortcuts > p {
    margin: 20px 10px;
}

#newsletter_form {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
}

#newsletter_form label input {
    margin: 0;
}

#social_media {
    margin: 10px 10px 10px auto;
}

@media (max-width: 1024px) {

    header {
        flex-direction: column;
        margin: 10vw
    }

    header > div {
        margin: 10px auto 10px 0;
    !important;
    }

    #logo {
        margin: 20px auto 20px 5px;
    }

    #site_shortcuts {
        flex-direction: column;
    }


    #main {
        width: 90%;
        margin: auto;
    }

    #main > h1 {
        font-size: 8vw; !important;
        margin-left: 10px;
    }

    #personal_data_grid {
        display: flex;
        flex-direction: column;
    }

    #campo_nacimiento {
        width: 80%;
        flex-direction: column;
    }

    #login {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #center_footer {
        flex-direction: column;
        width: 60%;
    }

    #footer_shortcuts {
        flex-direction: column;
    }

    #footer_shortcuts > p {
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    #newsletter_form {
        flex-direction: column;
        width: 60%;
        margin: 10px 0;
    }

    #social_media {
        margin: 10px auto;
    }
}