:root {
    --font: Fira Sans;
    --foreground-1: rgb(0, 0, 0); /* Text */
    --foreground-2: rgb(0, 0, 0); /* Elements */
    --foreground-3: rgb(0, 0, 0); /* Borders */
    --background-1: rgb(255, 255, 255);
    --background-2: lightgray;
}

html, body {
    font-family: var(--font), sans-serif;
    color: var(--foreground-1);
}

label {
    display: block;
}

/*** Global classes ***/
.align_all_items_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_shadow_background {
    box-shadow: 3px 4px 0 var(--foreground-2);
    border-radius: 10px;
    border: 3px var(--foreground-3) solid;
}

.simple_box_border {
    border-radius: 10px;
    border: 3px var(--foreground-3) solid;
}

.foreground_text {
    background: var(--background-1);
    padding-left: 50px;
    padding-right: 50px;
}

/*** Header ***/
header {
    margin: 20px;
    border: 3px solid var(--foreground-3);
    padding: 20px;
}

#site_title {
    margin-right: auto;
}

#site_shortcuts {
    display: flex;
}

#site_shortcuts div {
    margin-left: 10px;
    margin-right: 10px;
}

#language_selector {
    display: flex;
    margin-left: 20px;
}

#language_selector > div {
    border-right: 2px solid var(--foreground-3);;
    padding: 8px;
}


/*** Main section ***/
#main {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

/* Main elements */
#main_content {
    width: 66%;
    flex-direction: column;
}

#main_content article {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_heading {
    background-image: url('/images/viajar_de_mochilero.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#images_carrousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
}

.nav_button {
    padding: 10px;
}

#scroll_experiences {
     display: flex;
     flex-direction: column;
    justify-content: flex-start;
     min-width: 88%;
     margin-top: 20px;
     margin-bottom: 20px;
     background-image: url('/images/andorra.webp');
     background-size: cover;
     background-position: center;
     height: 300px;
     border-radius: 10px;
 }

#experiences_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#experiences_description {
    width: 60%;
    margin-right: auto;
    margin-left: 30px;
    margin-top: 20px;
}

#buy_button {
    margin: auto 40px 30px auto;
    width: 50px;
}

/* Log field */
#aside_section {
    flex-direction: column;
    min-width: 33%;
    justify-content: flex-start;
}

#log_field {
    margin-top: 50px;
    min-width: 80%;
}

.flex_input_elements {
    margin: 0.8vw 1.8vw 0.8vw 1.8vw;
    height: 50px;
    min-width: 100%;
}

#recordar_checkbox {
    box-shadow: 1px 1px 0 var(--foreground-2);
}