:root {
    --font: Fira Sans;
    --foreground-1: rgb(0, 0, 0); /* Text */
    --foreground-2: rgb(0, 0, 0); /* Elements */
    --foreground-3: rgb(0, 0, 0); /* Borders */
    --background-1: rgb(255, 255, 255);
    --background-2: lightgray;
}

html, body {
    font-family: var(--font), sans-serif;
    color: var(--foreground-1);
}

label {
    display: block;
}

hr {
    width: 60%;
    background-color: var(--foreground-3);
}

a:link {
    color: var(--foreground-1);
    text-decoration: none;
}

a:visited {
    color: var(--foreground-1);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-1);
    text-decoration: none;
}

a:active {
    color: var(--foreground-1);
    text-decoration: none;
}

input {
    outline: none;
}

/*** Global classes ***/
.align_all_items_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_shadow_background {
    box-shadow: 3px 4px 0 var(--foreground-2);
    background-color: var(--background-1);
    border-radius: 10px;
    border: 3px var(--foreground-3) solid;
}

.simple_box_border {
    border-radius: 10px;
    border: 3px var(--foreground-3) solid;
}

.foreground_text {
    background: var(--background-1);
    text-align: left;
    display: inline-block;
}

.input_field::placeholder,
.input_icon {
    color: rgba(0, 0, 0, 0.65);
}

.input_field {
    border: none;
    background: transparent;
}

.input_section {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border: 3px solid var(--foreground-3);
    background: var(--background-2);
    color: var(--foreground-1);
}

/*** Header ***/
header {
    margin: 20px;
    border: 3px solid var(--foreground-3);
    padding: 20px;
}

#site_title {
    margin-right: auto;
}

#site_shortcuts {
    display: flex;
}

#site_shortcuts div {
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    margin: 0 0 0 auto;
}

#language_selector {
    display: flex;
    margin-left: 20px;
}

#language_selector > div {
    border-right: 2px solid var(--foreground-3);;
    padding: 8px;
}


/*** Main section ***/
#main {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

/* Main elements */
#main_content {
    width: 66%;
    flex-direction: column;
}

#main_content article {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_heading {
    background-image: url('/images/viajar_de_mochilero.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#main_heading h4 {
    margin: 30px;
}

#images_carrousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
}

#images_carrousel p {
    width: 100%;
    margin: auto 30px;
}

.nav_button {
    padding: 2px;
    margin: 20px;
}

.nav_button > span {
    font-size: 30px !important;
}

#scroll_experiences {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    min-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('/images/andorra.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

#scroll_experiences div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiences_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

#title_name {
    margin: 0 auto 0 30px;
    font-size: 22px;
    padding: 10px 20px;
}

#title_price {
    margin: 0 30px 0 auto;
    padding: 8px 12px;
    font-size: 20px;
}

#experiences_description {
    margin-right: auto;
    margin-left: 30px;
    margin-top: 20px;
    width: 80%;
    display: flex;
    padding: 20px;
    justify-content: left;
    align-items: center;
    font-size: 18px;
}

#buy_button {
    margin: 30px 40px 30px auto;
    font-size: 18px;
    padding: 6px 10px;
}

#buy_button p {
    text-align: center;
}

#experiences_grid {
    margin: 40px;
    width: 100%;
    flex-direction: column;
}

#experiences_grid_title {
    justify-content: left;
    margin: 10px auto 15px 10px;
    font-weight: bold;
    font-size: 30px;
}

#experiences_container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.experience_shortcut {
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.shortcut_title {
    grid-column: 1 / -1;
    width: 100%;
    height: 20px;
    padding: 5px;
}

.images_grid {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.right_nav_shortcut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.show_more {
    padding: 10px;
    width: 60%;
    height: 30px;
}

/* Log field and aside section */
#aside_section {
    flex-direction: column;
    min-width: 34%;
    justify-content: flex-start;
}

#log_field {
    margin-top: 5px;
    min-width: 95%;
}

#log_field > form {
    width: 100%;
    margin: 10px 50px;
}

.flex_input_elements {
    margin: 0.8vw 1.8vw 0.8vw 1.8vw;
    height: 50px;
    min-width: 100%;
    padding-left: 30px;
}

#recordar_checkbox {
    box-shadow: 1px 1px 0 var(--foreground-2);
    transform: scale(1.5);
    margin-right: 20px;
}

#log_button {
    margin: 20px auto;
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#log_button > input {
    background: none;
    border: none;
    font-size: 16px;
}

#register_button {
    width: 40%;
    height: 50px;
    margin: 20px auto;
}

#register_button > a {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

#top_recommended {
    width: 100%;
    flex-direction: column; !important;
}

#top_recommended div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.recommended_titles {
    font-size: 20px;
    margin: 40px 0 10px 0;
}

#top_recommended div a {
    margin: 6px 0;
}

#user_data {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#user_photo {
    border-radius: 10px;
    width: 30%;
}

#log_out_box {
    border: 3px solid var(--foreground-3);
    padding: 10px;
    width: 30%;
    height: 20px;
}

#grid_checkboxes {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;

}

.checkbox_label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 40px;
}

.individual_checkbox {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#search {
    padding: 14px;
    margin-bottom: 15px;
}

#advice_title {
    padding-left: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 10px 30px;
}

#advice_box {
    height: 100%;
    width: 250px;
}

#advice_section {
    padding-left: 30px;
    padding-right: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#advice_field {
    height: 40px;
    padding-left: 30px;
    margin-right: 10px;
    width: 70%;
}

#content_box {
    height: 100%;
    margin-right: auto;
}

#send_button {
    height: 100%;
    width: 100px;
    margin: 0 10px 0 auto;
}

#calendar {
    padding: 10px;
}

#calendar_image {
    height: 400px;
    width: 400px;
}

/*** Footer ***/
footer {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid var(--foreground-3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#left_footer {
    margin-right: auto;
    margin-left: 20px;
    padding-left: 20px;
    width: 190px;
}

#center_footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#newsletter_form {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
}

#newsletter_form label input {
    margin: 0;
}

/* Pal media query
.nav_button > span {
    font-size: 30px; !important;
}
*/

@media (max-width: 1024px) {

    header {
        flex-direction: column;
        margin: 10vw
    }

    header > div {
        margin: 10px auto 10px 0;
    !important;
    }

    #logo {
        margin: 20px auto 20px 5px;
    }

    #site_shortcuts {
        flex-direction: column;
    }

    #main {
        display: flex;
        flex-direction: column;
    }

    #main_content {
        width: 100%;
    }

    #aside_section {
        width: 100%;
    }

    #experiences_title {
        flex-direction: column;
        justify-content: left;
        padding: 10px;
    }

    #experiences_title > div {
        margin: 2px auto 2px 2px; !important;
    }

    #title_name {
        font-size: 18px !important;
    }

    #title_price {
        font-size: 16px !important;
    }

    #experiences_description {
        font-size: 16px !important;
        margin: 2px;
    }

    #buy_button {
        margin: 10px auto;
    }

    .nav_button > span {
        font-size: 1px; !important;
    }

    #experiences_grid {
        display: flex;
        flex-direction: column;
    }

    #experiences_grid_title {
        margin: 10px 0 25px 0;
    }

    #experiences_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .experience_shortcut {
        width: 90%;
        margin: 10px auto;
    }

    .material-icons {
        font-size: 20px !important;
    }

    .show_more {
        font-size: 15px !important;
        width: 30%;
    }


    .right_nav_shortcut {
        padding: 2px;
    }

    #advice_section {
        flex-direction: column;
        height: auto;
    }

    #advice_field {
        margin: 0 auto 0 0;
    }

    #send_button {
        margin: 10px auto 0 0;
        height: 30px;
    }
}

@media (min-width: 1920px) {
    header {
        flex-direction: row;
    }
}